header.am-topbar
  h1.am-topbar-brand(data-am-modal="{target: '#my-personal-icon'}")
    img.am-img-thumbnail.am-circle(ng-src='images/{{Login_ico}}', alt='...', style='width: 60px;height: 60px;')
  button.am-topbar-btn.am-topbar-toggle.am-btn.am-btn-sm.am-btn-success.am-show-sm-only(data-am-collapse="{target: '#doc-topbar-collapse'}")
    span.am-sr-only 导航切换
    span.am-icon-bars
  #doc-topbar-collapse.am-collapse.am-topbar-collapse
    ul#nav.am-nav.am-nav-pills.am-topbar-nav
      li
        a(ng-href='/index') 首页
      li
        a(ng-href='/server') 服务器信息
      li
        a(ng-href='/network') 网络设备信息
      li
        a(ng-href='/sql') 数据库信息
      li
        a(ng-href='/system') 业务系统信息
      li(ng-show='show')
        a(ng-href='/user') 用户信息
    .am-topbar-right
      .am-dropdown(data-am-dropdown="{boundary: '.am-topbar'}")
        button.am-btn.am-btn-primary.am-topbar-btn.am-btn-sm.am-dropdown-toggle(data-am-dropdown-toggle='')
          i.am-icon-user.am-icon-fw
          | {{Login_name}}
          span.am-icon-caret-down
        ul.am-dropdown-content
          li
            a(data-am-modal="{target: '#my-personal-setting'}", ng-click='') 个人设置
          li
            a(href='/logout') 退出系统
