doctype html
html(ng-app='myApp', lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/base64.js')
    script(src='javascripts/amazeui.min.js')
    link(rel='stylesheet', href='stylesheets/amazeui.min.css')
    link(rel='stylesheet', href='stylesheets/screen.css')
    link(rel='stylesheet', href='stylesheets/changed.css')
    link(rel='icon', href='data:;base64,=')
    script(src='javascripts/angular.min.js')
    script(src='javascripts/app.factory.js')
    script(src='javascripts/index.js')
  body(ng-controller='siteCtrl')
    include header
    include personal-setting
    include personal-ico
    include footer
