doctype html
html(lang='en')
  //
    Creater by doesdoing
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title login demo
    style.
      body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background: #34495e;
      }
      .box {
      width: 30%;
      padding: 1%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #191919;
      text-align: center;
      }
      .box h1 {
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 30px
      }
      .box input[name="username"],
      .box input[type="password"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #3498db;
      padding: 14px 10px;
      width: 70%;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.5s;
      font-size: 18px
      }
      .box input[name="username"]:focus,
      .box input[type="password"]:focus {
      width: 80%;
      border-color: #2ecc71;
      }
      .box input[type="submit"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid #2ecc71;
      padding: 14px 40px;
      outline: none;
      color: white;
      border-radius: 24px;
      transform: 0.25s;
      cursor: pointer;
      font-size: 18px
      }
      .box input[type="submit"]:hover {
      background: #2ecc71
      }
      @media screen and (min-width:360px) and (max-width:480px){
      .box {
      width: 80%;
      padding: 1%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #191919;
      text-align: center;
      }
      }
      @media screen and (min-width:800px) and (max-width:1366px){
      .box {
      width: 40%;
      padding: 1%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #191919;
      text-align: center;
      }
      }
  body
    form.box(action='/login', method='post')
      h1 Login
      input(type='text', name='username', placeholder='Username')
      input(type='password', name='password', placeholder='Password')
      input(type='submit', value='Login')
