doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title
      | login
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/amazeui.min.js')
    link(rel='stylesheet', href='stylesheets/amazeui.min.css')
    link(rel='stylesheet', href='stylesheets/amazeui.flat.min.css')
    script(src='javascripts/amazeui.widgets.helper.min.js')
    script(src='javascripts/amazeui.ie8polyfill.min.js')
    script(src='javascripts/base64.js')
    script.
      window.onload = function () {
      function login_ajax() {
      var name = document.getElementById("name").value;
      var password = document.getElementById("password").value;
      var json = { "Do": 'login',"DB":"user", "data": { "user": name, "password": password },"start":"","end":""};
      var b = new Base64();
      var login_json = b.encode(encodeURI(JSON.stringify(json)));
      $.ajax({
      type: "get",
      url: "/api",
      data: { data: login_json },
      dataType: 'text',
      async: true,
      jsonp: "jsonpCallback",
      success: function (data) {
      setTimeout(function () {
      console.log(data)
      if (data == 'fail') {
      $("#txt").html('账号密码有误');
      $('#btn').click();
      }
      if (data == 'succeed') {
      window.location.href = "/";
      }
      }, 1000);
      }
      })
      }
      $('#login_btn').click(function () {
      login_ajax();
      });
      $(document).keyup(function (event) {
      if (event.keyCode == 13) {
      login_ajax();
      }
      });
      }
    style.
      body {
      background: url('./images/bg.jpg') no-repeat;
      background-size:
      100% 100%;
      }
      .h {
      margin-top: 15%;
      max-width: 500px;
      background-color:
      rgba(000, 000, 000, 0.5)
      }
  body
    .am-g.h
      button#btn(style='display: none', type='button', data-am-modal="{target: '#my-alert'}")
      #my-alert.am-modal.am-modal-alert(tabindex='-1')
        .am-modal-dialog
          #txt.am-modal-bd
          .am-modal-footer
            span.am-modal-btn
              | 确定
      form.am-form
        fieldset
          h1
            legend(style='color: white')
              | LOGIN
          .am-form-group
            label(for='doc-vld-name', style='color: white')
              | 用户：
            input#name.am-form-field(type='text', minlength='3', maxlength='16', placeholder='输入用户名', required='')
          .am-form-group
            label(for='doc-vld-password', style='color: white')
              | 密码：
            input#password.am-form-field(type='password', minlength='6', maxlength='16', placeholder='输入密码', required='')
          button#login_btn.am-btn.am-btn-secondary(type='button', style='float:right')
            | 登录
