doctype html
html(ng-app='myApp', lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 业务系统信息
    script(src='javascripts/jquery.min.js')
    script(src='javascripts/base64.js')
    script(src='javascripts/amazeui.min.js')
    link(rel='stylesheet', href='stylesheets/amazeui.min.css')
    script(src='javascripts/amazeui.ie8polyfill.min.js')
    script(src='javascripts/amazeui.widgets.helper.min.js')
    link(rel='stylesheet', href='stylesheets/screen.css')
    link(rel='stylesheet', href='stylesheets/changed.css')
    script(src='javascripts/angular.min.js')
    script(src='javascripts/app.factory.js')
    script(src='javascripts/web.js')
  body(ng-controller='siteCtrl')
    include header
    include personal-setting
    include personal-ico
    include alert
    #my-device-add.am-modal.am-modal-alert(tabindex='-1')
      .am-modal-dialog
        .am-modal-hd 设备信息
        .am-modal-bd
          .am-input-group.am-input-group-primary(style='margin: 3px;width:100%;display:none')
            span.am-input-group-label(style='width: 30%;') ID
            input.am-form-field(type='text', ng-model='ID', style='width: 98%;', value='{{ID}}')
          .am-input-group.am-input-group-primary(style='margin: 3px;width:100%')
            span.am-input-group-label(style='width: 30%')
              | 业务系统
            input.am-form-field(type='text', style='width: 98%', ng-model='Web_sys', value='{{Web_sys}}')
          .am-input-group.am-input-group-primary(style='margin: 3px;width:100%')
            span.am-input-group-label(style='width: 30%')
              | 登录账号
            input.am-form-field(type='text', style='width: 98%', ng-model='Web_user', value='{{Web_user}}')
          .am-input-group.am-input-group-primary(style='margin: 3px;width:100%')
            span.am-input-group-label(style='width: 30%')
              | 登录密码
            input.am-form-field(type='text', style='width: 98%', ng-model='Web_password', value='{{Web_password}}')
          .am-input-group.am-input-group-primary(style='margin: 3px;width:100%')
            span.am-input-group-label(style='width: 30%')
              | 外网IP
            input.am-form-field(type='text', style='width: 98%', ng-model='Web_outside_ip', value='{{Web_outside_ip}}')
          .am-input-group.am-input-group-primary(style='margin: 3px;width:100%')
            span.am-input-group-label(style='width: 30%')
              | 内网IP
            input.am-form-field(type='text', style='width: 98%', ng-model='Web_inside_ip', value='{{Web_inside_ip}}')
        .am-modal-footer(ng-show="show")
          span.am-modal-btn(data-am-modal-cancel='') 取消
          span.am-modal-btn(data-am-modal-confirm='',data-am-modal="{target: '#my-alert'}") 确定
    .am-g
      include ctrl-button
      .am-g(style='margin-left: 5px;margin-right: 5px;min-height: 600px')
        table.am-table.am-table-hover.am-table-bordered
          thead
            tr
              th 业务系统
              th 外网IP
              th 内网IP
              th 编辑/查看
          tbody
            tr(ng-repeat='i in data')
              td(style='display:none') {{i.ID}}
              td
                input(ng-click='select_id($index)', type='checkbox', style='margin: 3px;transform: scale(1.5)')
                span  {{i.Web_sys}}
              td {{i.Web_outside_ip}}
              td {{i.Web_inside_ip}}
              td
                button.am-btn.am-btn-primary.am-btn-xs(type='button', ng-click='edit_or_lookup(i)', data-am-modal="{target: '#my-device-add'}")
                  i.am-icon-pencil.am-icon-sm 修改/查看
    include page
    include footer
