.am-g
  .am-u-sm-6
    h3 复选框
    label.am-checkbox
      input(type='checkbox', value='', data-am-ucheck='')
      |  没有选中
    label.am-checkbox
      input(type='checkbox', checked='checked', value='', data-am-ucheck='')
      |       已选中
    label.am-checkbox
      input(type='checkbox', value='', data-am-ucheck='', disabled='')
      |       禁用/未选中
    label.am-checkbox
      input(type='checkbox', checked='checked', value='', data-am-ucheck='', disabled='')
      |       禁用/已选中
